.Footer {
  background-color: black;
  width: 100%;
  height: 200px;
  bottom: 0;
  a {
    color: white;
    p {
      text-align: center;
    }
  } :hover {
    color: white;
  }
  p {
    text-align: center;
    color: white;
  }
}