.DisplayBooking {
  text-align:center;
  margin-top: 60px;
  .align-cards {
    justify-content: space-around;
    margin: 0 auto;
  }
  .col-sm-4 {
    margin-bottom: 40px;
  }
  .card-body {
    width: 350px;
    text-align:center;
    margin: 0 auto;
    float: none;
    padding: none;
    background-color: whitesmoke;
  }
  .Buttons {
    display: flex;
    justify-content: space-around;
    input {
      width: 250px;
      margin-top: 20px;
      border-radius: 4px;
      padding: .375rem .75rem;
      font-size: 1rem;
      color: #fff;
      background-color: #A84746;
      border-color: darkred;
    }
  }
  
}