.ModifySpectacle {
  text-align:center;
  margin-top: 60px;
  .col-sm-4 {
    margin-bottom: 40px;
  }
  .title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    color: #3F217D;
  }
  .card-body {
    width: 350px;
    text-align:center;
    margin: 0 auto;
    float: none;
    background-color: whitesmoke;
  }
  .spectacles {
    height: auto;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  button {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    background-color: #2C4076;
  }
}